version: '3'

services:
  node: # Node.js App
    container_name: "koa-node"
    image: "node:12.2"
    build: .
    ports:
      - "3000:3000" # Expose koa (node) port
      - "9229:9229" # Expose Node process debug port (disable for prod)
    environment: # Set ENV vars
      - NODE_ENV=local
      - PORT=3000
    volumes: # Attach local book data dir
      - ./books:/usr/src/app/books
    command:
      "npm start"
