version: '3'

services:
  api: # Node.js App
    container_name: gs-api
    build: .
    ports:
      - "3000:3000" # Expose API port
      - "9229:9229" # Expose Node process debug port (disable for prod)
    environment: # Set ENV vars
      - NODE_ENV=local
      - ES_HOST=elasticsearch
      - PORT=3000
    volumes: # Attach local book data dir
      - ./books:/usr/src/app/books

  frontend: # Nginx Server for frontend app
    container_name: gs-frontend
    image: nginx
    volumes: # Serve local "public" dir
      - ./public:/usr/share/nginx/html
    ports:
      - "8080:80" # Forward site to localhost:8080

  elasticsearch: # elasticsearch Instance
    container_name: gs-search
    # Open Distro
    image: amazon/opendistro-for-elasticsearch:0.8.0
    # official
    # image: docker.elastic.co/elasticsearch/elasticsearch:6.1.1
    volumes: # Persist ES data in separate "esdata" volume
      - esdata:/usr/share/elasticsearch/data
    environment:
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - discovery.type=single-node
    ports: # Expose Elasticsearch ports
      - "9300:9300" #
      - "9200:9200" # APIs
      - "9600:9600" # Performance Analyzer

volumes: # Define separate volume for Elasticsearch data
  esdata:
